html {
  font-family: sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.navbar, .navbar-fixed {
  height: 80px;
  width: 100%;
  min-width: 250px;
  z-index: 2;
  background-color: rgb(246,246,246);
  box-shadow: -5px -5px 12px 0px;
  text-align: center;
}

.navbar-fixed {
  position: fixed;
  top: 0;
}

.footer, .footer-fixed {
  width: 100%;
  min-width: 250px;
  z-index: 2;
  background-color: rgb(246,246,246);
  text-align: center;
  border-top: 1px solid rgb(245,245,245);
}

.footer-fixed {
  position: fixed;
  bottom: 0;
}

.footer p, .footer nav, .footer-fixed p, .footer-fixed nav {
  display: inline-block;
  margin: 0;
  padding: 8px;
}

.nav-links {
  margin: auto;
  padding: 32px 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 2px;
  margin: 0 5px;
}

.footer-links a {
  text-decoration: none;
  font-size: 14px;
}

.nav-links a:hover {
  background: rgb(230,230,230);
}

.right {
  float: right;
}

.left {
  float: left;
}

.grid-1-2-hor {
  display: grid;
  grid-template-areas: "a a"
                       "b c";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.grid-1-2-ver {
  display: grid;
  grid-template-areas: "a b"
                       "a c";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.grid-2-1-1 {
  display: grid;
  grid-template-areas: "a a b"
                       "a a c";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.grid-1-1-2 {
  display: grid;
  grid-template-areas: "a c c"
                       "b c c";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.grid-3x {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.grid-4x {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.grid-item-a {
  grid-area: a;
}

.main-container {
  text-align: center;
  margin: 5% auto;
  padding-bottom: 40px;
  min-width: 250px;
}

@media only screen and (max-width: 1000px) {

  .grid-4x {
    grid-template-columns: 1fr 1fr;
  }

}

@media only screen and (max-width: 700px) {

  .grid-4x, .grid-3x, .grid-1-2-ver, .grid-1-2-hor,
  .grid-2-1-1, .grid-1-1-2 {
    grid-template-columns: 1fr;
    grid-template-areas: "a"
                         "b"
                         "c";
    text-align: left;
    padding: 5px;
  }